dist: trusty
sudo: false
language: cpp

addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-8
install:
  pip install --user conan

script:
  - mkdir build
  - cd build
  - CXX=/usr/bin/g++-8 CC=/usr/bin/gcc-5 conan install ..
  - CXX=/usr/bin/g++-8 CC=/usr/bin/gcc-5 cmake -D ENABLE_COVERAGE:BOOL=TRUE ..
  - cmake --build . -- -j2 
  - ctest -j2
  - bash <(curl -s https://codecov.io/bash) -x /usr/bin/gcov-5



